
    <div class="global-container" id="demo">

        <div class="viewport">
            <div class="top-text">
                <h2>Keuzemenu</h2>
            </div>
            <div class="line"></div>
            <div class="panel-text">
                <h1>Voer zelf een hoeveelheid in om opgenomen te worden<br>Enkel 10 tallen kunnen worden opgenomen met een max van 300<br><h1 id = "Number">____</h1></h1>
            </div>
            <div class="options-grid">
                
                <div class="element-option-1">
                    <div class="element-option-text-1">Terug naar<br>hoofdmenu</div>
                    <div class="element-option-input-1">A</div>
                </div>
                <div class="element-option-1">
                    <div class="element-option-text-1">Dit bedrag opnemen</div>
                    <div class="element-option-input-1">B</div>
                </div>
                <div class="element-option-1">
                    <div class="element-option-text-1">Getal weghalen</div>
                    <div class="element-option-input-1">C</div>
                </div>
                <div class="element-option-1">
                    <div class="element-option-text-1">transactie afbreken </div>
                    <div class="element-option-input-1">D</div>
                </div>
                
               
            </div>
        </div>
    </div>
 