
    <div class="global-container" id="demo">

        <div class="top-text">
            <h2>Kies in welke vorm u uw geld wilt hebben.</h2>
        </div>
        <div class="line"></div>
        <div class="panel-text">
            <h1><br>Kies een optie <br>door de bijbehorende toets op de toetsenbord in te drukken</h1>
        </div>
        <div class="options-grid" id = "Number">
            
           

            <!-- <div class="element-option-2">
                <div class="element-option-text-2"></div>
                <div class="element-option-input-2"></div>
            </div> -->
        </div>
    </div>
    </div>
 