
    <div class="global-container" id="demo">
        <div class="viewport">
            <div class="top-text">
                <h2>Keuzemenu</h2>
            </div>
            <div class="line"></div>
            <div class="panel-text">
                <h1>U staat op het punt om <h1 id = "Number"></h1> op te nemen</h1>
            </div>
            <div class="options-grid">

                <div class="element-option-1">
                    <div class="element-option-text-1">Terug naar hoofdmenu</div>
                    <div class="element-option-input-1">A</div>
                </div>                
                <div class="element-option-1">
                    <div class="element-option-text-1">Dit bedrag opnemen</div>
                    <div class="element-option-input-1">B</div>
                </div>
                <div class="element-option-1">
                    <div class="element-option-text-1">Ander bedrag kiezen</div>
                    <div class="element-option-input-1">c</div>
                </div>
                <div class="element-option-1">
                    <div class="element-option-text-1">Transactie <br>afbreken</div>
                    <div class="element-option-input-1">D</div>
                </div>

            </div>
        </div>
    </div>
