{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Message {% endblock %}</h1>
    <form method="post">
       <label for="naam">Title</label>
        <br>
        <input type="text" name="naam"
               placeholder="naam"
               value="{{ request.form['naam'] }}"></input>
        <br>
        <label for="iban">Title</label>
        <br>
        <input type="text" name="iban"
               placeholder="iban"
               value="{{ request.form['iban'] }}"></input>
        <br>
        <label for="email">Title</label>
        <br>
        <input type="text" name="email"
               placeholder="email"
               value="{{ request.form['email'] }}"></input>
        <br>
        <label for="pincode">Title</label>
        <br>
        <input type="text" name="pincode"
               placeholder="pincode"
               value="{{ request.form['pincode'] }}"></input>
        <br>

       
        <button type="submit">Submit</button>
    </form>
{% endblock %}
