<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <script src="static/js/application.js"></script>
  <link rel="stylesheet" href="static/js/style.css">
  

 
</head>

<body id = "body"> 
  <div class="global-container" id="demo">

      <div class="viewport">
          <div class="top-text">
              <h2 class="title-text">BankOverval</h2>
          </div>
          <div class="line"></div>
          <div class="panel-text" style="font-size: 30px;">
              Welkom bij de groenlandse pinautomaat van bankoverval<br>
                  Hier kunt u geld opnemen of uw saldo bekijken<br><br>
                  Hou uw pinpas tegen de kaartlezer om te beginnen!
          </div>
          <div class="content-grid">
  
          </div>
  
      </div>
  </div>
</body>
</html>