
    <div class="global-container" id="demo">

        <div class="top-text">
            <h2>Keuzemenu</h2>
        </div>
        <div class="line"></div>
        <div class="panel-text">
            <h1><br>Kies een optie <br>door de bijbehorende toets op de toetsenbord in te drukken</h1>
        </div>
        <div class="options-grid">
            
            <div class="element-option-1">
                <div class="element-option-text-1"> Saldo inzien</div>
                <div class="element-option-input-1">A</div>
            </div>
            <div class="element-option-1">
                <div class="element-option-text-1">€70 opnemen     </div>
                <div class="element-option-input-1">B</div>
            </div>
            <div class="element-option-1">
                <div class="element-option-text-1">Opname bedrag kiezen</div>
                <div class="element-option-input-1">C</div>
            </div>
            <div class="element-option-1">
                <div class="element-option-text-1">Transactie <br> afbreken</div>
                <div class="element-option-input-1">D</div>
            </div>

            <!-- <div class="element-option-2">
                <div class="element-option-text-2"></div>
                <div class="element-option-input-2"></div>
            </div> -->
        </div>
    </div>
    </div>
 