
  
    <div class="global-container" id="demo">

<div class="viewport">
            <div class="top-text">
                <h2 class="title-text">BankOverval</h2>
            </div>
            <div class="line"></div>
            <div class="panel-text"style="font-size: 30px;">
                <br>Voer uw pincode van uw pinpas in
            </div>
            <div class="center-text-input-container">
                <div class="extra-buttons-container">
                    <div class="button">
                        <div class="button-text-1">Annuleren</div>
                        <div class="button-input-1" style="background-color: #ff0000;">D</div>
                    </div>
                    <div class="button">
                        <div class="button-text-1">Ongedaan maken</div>
                        <div class="button-input-1" style="background-color: #ffae00;">C</div>
                    </div>
                </div>
                <div class="center-text-input" style="font-size: 60px;" id = "Number">
                    
            </div>
        </div>
    </div>
    </div>
 