
 
    <div class="global-container" id="demo">
        <div class="viewport">
            <div class="top-text">
                <h2>saldo</h2>
            </div>
            <div class="line"></div>
            <div class="panel-text">
                <h1> <br>Uw saldo is €<h1 id =  "Number"></h1></h1>
            </div>
            <div class="options-grid">
                
                <div class="element-option-1">
                    <div class="element-option-text-1"> Terug naar <br>hoofdmenu</div>
                    <div class="element-option-input-1">A</div>
                </div>
                
                <div class="element-option-1">
                    <div class="element-option-text-1">Opname Bedrag Kiezen</div>
                    <div class="element-option-input-1">B</div>
                </div>
                <div >
                    
                </div>
                <div class="element-option-1">
                    <div class="element-option-text-1">Transactie <br>Afbreken</div>
                    <div class="element-option-input-1">D</div>
                </div>
    
                <!-- <div class="element-option-2">
                    <div class="element-option-text-2"></div>
                    <div class="element-option-input-2"></div>
                </div> -->
            </div>
        </div>
    </div>
