

    <div class="global-container" id="demo">

        <div class="viewport">
            <div class="top-text">
                <h2 class="title-text">BankOverval</h2>
            </div>
            <div class="line"></div>
            <div class="panel-text" style="font-size: 30px;">
                Welkom bij de groenlandse pinautomaat van bankoverval<br>
                    Hier kunt u geld opnemen of uw saldo bekijken<br><br>
                    Hou uw pinpas tegen de kaartlezer om te beginnen!
            </div>
            <div class="content-grid">
    
            </div>
    
        </div>
    </div>
